@charset "utf-8";
#container{font-size:13px;}

/*메인슬라이더*/
.mainSlider{
    height:480px;
    overflow:hidden;
    position:relative;
    border-top:2px solid #882830;
}
.mainSlider img{
    position:absolute;
    left:50%;
    margin-left:-960px;
}

/*메인컨텐츠01*/
.mainCon01{padding:50px 0;}
.mainCon01 h3{}
.mainCon01 h3 img{}

.con01Box{
    width:205px;
    margin-right:35px;
    float:left;
}
.con01Box:last-child{margin-right:0;}

.mall{width:460px;}
.con01Box p{margin:10px 0;}

.mallMenu{
    margin-top:45px;
}
.mallMenu li{
    width:130px;/*padding:0 20px; 마진0auto값 대신써도됨*/
    float:left;
    text-align:center;
    background:url(../images/mall_bar01.gif) no-repeat left center;
    padding:10px 26px 0;
    box-sizing: border-box;
}
.mallMenu li:first-child{background:none;}
.mallMenu li a{}
.mallMenu li:hover a{color:#B5121B;}
.mallMenu li img{
    display:block;
    margin:0 auto;
}


/*메인컨텐츠02*/
.mainCon02{}
.mainCon02 li{
    float:left;
}
.mainCon02 li a{}
.mainCon02 li img{display:block;}


/*메인컨텐츠03*/
.mainCon03{
    padding:50px 0;
    border-bottom:2px solid #9D2541;
    margin-bottom:50px;
}

.con03Box{
    width:205px;
    float:left;
    margin-right:35px;
    font-size:12px;
}
.con03Box h3{}
.con03Box h3 img{}

.con03Box p{margin:10px 0;}

.arrowBtn{}
.arrowBtn img{vertical-align:top;}

.newsList{margin-top:10px;}
.newsList li{
    position:relative;
    line-height:18px;
}
.newsList li a{
    width:150px;
    display:inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.newsList li span{
    position:absolute;
    right:0;
}

.con03Quick{
    margin-right:0;
    
}
.con03Quick img{
    display:block;
    margin:0 auto;
}
.con03Quick a{
    display:inline-block;
    padding:0 4px;
    background:url(../images/mall_bar01.gif) no-repeat left center;
}
.con03Quick a:first-child{background:none;}


/*메인컨텐츠04*/
.mainCon04{}
.mainCon04 h2{}
.mainCon04 h2 a{}
.mainCon04 h2 img{}

.snsList{
    margin-top:20px;
    font-size:12px;
}
.snsList li{
    width:205px;
    margin-right:35px;
    float:left;
    background:url(../images/48_48_off.png) no-repeat left center;
}
.snsList li:hover{
    background-image:url(../images/48_48.png);
}
.snsList li:last-child{margin-right:0;}
.snsList li a{}
.snsList li p{
    padding-left:60px;
}
.snsList li span{
    display:block;
    color:royalblue;
}





















